@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
#home #nav .nav-center .nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#home #nav .nav-center .nav-header .nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}