// /* navbar */

/* ================================
   HEADER BASE
================================ */
nav{
    .header {
  background: white;
  border-bottom: 1px solid grey;
  padding: 1rem 1.5rem;

  span {
    color: $clr-black !important;
  }

  .main-menu a {
    color: black !important;

    &.active {
      color: red !important;
    }

    &:hover {
      color: red !important;
    }
    }
    }
}
.header {
  background: transparent;
  border-bottom: 1px solid grey;
  padding: 1rem 1.5rem;

  span {
    color: $clr-black !important;
  }

  .main-menu a {
    color: $clr-white !important;

    &.active {
      color: red !important;
    }

    &:hover {
      color: red !important;
    }
    }


  &.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
     background: $clr-white !important;
     color: black !important;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: $light-shadow;
    z-index: 1000;

     .main-menu a {
      color: black !important;

      &.active {
        color: red !important;
      }

      &:hover {
        color: red !important;
      }
    }
  }




  .header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 1000;

    .header-left {
      span {
        color: $clr-love;
        font-size: 30px;

        small {
          color: $clr-love;
        }
      }
    }

    .header-right {
      .main-menu {
        display: flex;

        li {
          .menu-item {
            display: block;

            &:not(:last-child) {
              margin: 0 20px 0 0;
            }
          }

          a {
            line-height: 20px;
            color: $clr-white;
            padding: 20px 14px;
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;

            &.active {
              color: red;
            }

            &:hover {
              color: #fff;
            }
          }
        }

        /* Submenu (dropdown) */
        .dropdown {
          position: relative;

          .sub-menu-wrapper {
            position: absolute;
            top: 100%;
            left: 0;
            background-color: #ffffff;
            border-top: 3px solid $clr-love;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
            display: none;
            min-width: 200px;

            ul {
              li {
                a {
                  padding: 8px;
                  display: block;
                  text-transform: none;
                  color: black !important;

                  &:hover {
                    background-color: red;
                  }
                }

                &:not(:last-child) {
                  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
                }
              }
            }
          }

          &:hover .sub-menu-wrapper {
            display: block;
          }
        }

        /* Mega menu */
        .mega-menu {
          .mega-menu-wrapper {
            position: absolute;
            left: 40%;
            display: none;
            padding: 15px;
            background-color: #ffffff;
            border-top: 3px solid $clr-love;
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.15);
          }

          ul {
              li {
                a {
                  padding: 8px;
                  display: block;
                  text-transform: none;
                  color: black !important;

                  &:hover {
                    background-color: #ededed;
                    color: red !important;
                  }
                }

                &:not(:last-child) {
                  border-bottom: 1px solid rgba(204, 204, 204, 0.3);
                }
              }
            }

          &:hover .mega-menu-wrapper {
            display: grid;
          }
        }

        
      }
    }

    .mobile-toggler {
      display: none;
    }
  }

   .mobile-menu {
  display: none;
}
  
}



/* ================================
   MOBILE (max 850px)
================================ */
@media (max-width: 850px) {
  .header {
    .header-row {
      .header-left {
        span {
          color: $clr-white; /* logo changes for mobile */
        }
      }

      .header-right {
        .main-menu {
          display: none; /* hide desktop nav */
        }
      }

      .mobile-toggler {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        color: #ffffff;
        background-color: $clr-love;
        cursor: pointer;
        padding: 7px 13px;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }

.mobile-menu {
  position: absolute;  // relative to header
  top: 100%;           // sits exactly below navbar
  left: 0;
  width: 100%;
  background-color: $clr-white !important;
  z-index: 9999;
  padding: 15px 20px;
  border-top: 3px solid $clr-love;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 10px;

      a {
        font-size: 14px;
        font-weight: 600;
        color: $clr-black !important;
        display: block;
        padding: 8px;
        text-decoration: none;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &.active {
          color: red !important;
        }
      }
    }
  }

  &.active {
    display: block;
    // animation: slideInDown 0.4s ease forwards;
  }
}



 


  /* Mobile submenu toggle */
  .mega-menu-wrapper {
    display: none;
    padding-left: 15px;
  }
  .mega-menu.open .mega-menu-wrapper {
    display: block;
  }
}


// ====================================

#wrapper {
    position: relative;
    height: 100vh;

    #slider-area {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.7);
        }

        .owl-item {
            div {
                height: 100vh;
                width: 100%;
                background-repeat: no-repeat;
                -webkit-background-size: cover;
                background-size: cover;
                background-position: top;
            }
        }
    }

    .slider-text {
        width: 50%;
        margin-inline: auto;
        padding-top: 30px;
        position: absolute;
        padding-left: -100px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 100; // Ensure it's above other elements
p{
    padding-bottom: 10px;
}
        h2 {
            margin: 0;
            color: #fff;
            text-transform: uppercase;

            span {
                position: relative;
                color: $clr-love;
                font-size: 8vmin;
            }
        }

        .text-animation {
            font-size: 55px;
            font-weight: 600;
            min-width: 300px;

            span {
                position: relative;
                display: inline-block;

                &::after {
                    content: '';
                    background-color: $clr-white;
                    position: absolute;
                    width: 3px;
                    height: 100%;
                    right: -5px;
                    top: 0;
                    animation: blink 0.6s steps(1) infinite;
                }
            }
        }

        p {
            color: #fff;
        }

        a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            padding: 12px 30px;
            margin: 15px;
            text-transform: uppercase;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            border: 2px solid #fff;
            cursor: pointer;

            &.btn {
                background-color: transparent;
            }
        }
    }
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

// =========================================
.banner {
    min-height: 100vh;
    display: grid;
    place-items: center;
    text-align: center;
}

.container {
    h1 {
        color: $clr-white;
        text-transform: uppercase;
    }

    p {
        color: $clr-white;
        margin: 0 auto;
        margin-bottom: 1.25rem;

        @media screen and (min-width: 768px) {
            max-width: 40rem;
        }
    }
}



@media (max-width: 850px) {
    #wrapper {
        .slider-text {
            width: 90%;
            margin-inline: auto;
            padding-left: 0px;
            padding: 0px;
            margin: 0px;

            h2 {
                font-size: 6vmin;

                span {
                    font-size: 6vmin;
                }
            }

            .text-animation {
                font-size: 8vmin;
                min-width: auto;
            }
        }
    }
}






