
$clr-grey: #eee;
$clr-dark-grey: #AAAAAA;
$clr-dark: #342E37;


$clr-white: #fff;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-sec-bg: #fff4f3;
$clr-black: rgb(0, 0, 0);
$clr-love: #EA1B29;
$clr-white-bg: #F1F5F8;

$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;

$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$max-width: 1170px;
$fixed-width: 620px;
$bold-text: 700;





